.service-block {
    width: 20%;
    height: auto;
    margin-left: 5rem;
    margin-bottom: 3rem;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 0 10px 30px -5px gray;
}

.service-inner-block {
    margin-left: 20px;
}

.service-block-img {
    height: 90px;
    margin-top: 25px;
}

.service-block-text {
    font-size: 17px;
    color: gray;
    margin-right: 20px;
}